# Update Investigation Start Date Roster
Description: This code takes the WDRS to CREST roster and pulls all WDRS event IDs that do not already have an investigation start date. It will export a CSV file in the appropriate template that can be loaded into the WDRS COVID19 Updating Investigation Start Date roster.

_Created By: Mariam Lawal_

---

## Import Libraries

In [2]:
import pandas as pd

import os
cwd = os.getcwd()

## Load WDRS to CREST Roster

In [6]:
# file path will need to be updated each run to the new file location
filepath = cwd + "/wdrs_to_crest_20210423_1225.csv"
data = pd.read_csv(filepath)

In [7]:
data.head()

,record_id,phone_number1_type,phone_number2_type,phone_number3_type,phone_number4_type,phone_number5_type,last_name,first_name,suffix,sex_at_birth,...,facility_match,Facility_Name,Facility_address,Facility_phone,ltcf_alt_phone,Outbreak_notes,pcr_positive,pcr_lab_date,antigen_positive,antigen_lab_date
0,102733833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,YES,4/22/2021,NO,NaN
1,102733802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NO,NaN,YES,4/22/2021
2,102702423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,YES,4/14/2021,NO,NaN
3,102731921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,YES,4/1/2021,NO,NaN
4,102733631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NO,NaN,YES,4/22/2021

In [40]:
data.columns

Index(['record_id', 'phone_number1_type', 'phone_number2_type',
       'phone_number3_type', 'phone_number4_type', 'phone_number5_type',
       'last_name', 'first_name', 'suffix', 'sex_at_birth', 'birth_date',
       'reporting_address', 'reporting_city', 'reporting_zipcode',
       'phone_number1', 'phone_number2', 'phone_number3', 'phone_number4',
       'phone_number5', 'already_interviewed', 'died_in_wdrs',
       'investigation_start_date', 'investigator',
       'doh_case_classification_reporting', 'lhj',
       'positive_defining_lab_date_sars', 'reporting_county',
       'reporting_state', 'wdrs_event_id', 'redcap_data_access_group',
       'person_type', 'OUTBREAK_CASE_ID', 'unique_id', 'facility_match',
       'Facility_Name', 'Facility_address', 'Facility_phone', 'ltcf_alt_phone',
       'Outbreak_notes', 'pcr_positive', 'pcr_lab_date', 'antigen_positive',
       'antigen_lab_date'],
      dtype='object')

## Transform Roster

In [41]:
# take a subset of the roster of the columns needed
data2 = data[["wdrs_event_id", "investigation_start_date"]]
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 2 columns):
wdrs_event_id               361 non-null int64
investigation_start_date    3 non-null object
dtypes: int64(1), object(1)
memory usage: 5.8+ KB

In [42]:
# keep rows where investigation_start_date is blank
data3 = data2[data2["investigation_start_date"].isnull()]

# reset index
data3.reset_index(drop=True, inplace=True)
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358 entries, 0 to 357
Data columns (total 2 columns):
wdrs_event_id               358 non-null int64
investigation_start_date    0 non-null object
dtypes: int64(1), object(1)
memory usage: 5.7+ KB

In [43]:
# drop investigation_start_date column from data3 dataframe
data4 = data3.drop(columns = "investigation_start_date")

In [45]:
# add new column INVESTIGATION_START_DATE and populate with today's date
# data4["INVESTIGATION_START_DATE"] = pd.to_datetime('today').normalize() # opt. 1
data4["INVESTIGATION_START_DATE"] = pd.Timestamp('today').strftime("%m/%d/%Y") # opt. 2
data4

     wdrs_event_id INVESTIGATION_START_DATE
0        102733833               04/27/2021
1        102733802               04/27/2021
2        102702423               04/27/2021
3        102731921               04/27/2021
4        102733631               04/27/2021
..             ...                      ...
353      102733841               04/27/2021
354      102733411               04/27/2021
355      102600214               04/27/2021
356      102733892               04/27/2021
357      102733778               04/27/2021

[358 rows x 2 columns]

In [46]:
# add new column INVESTIGATOR and leave blank -- is this needed?
data4["INVESTIGATOR"] = ''

In [51]:
# add new column Case.Note and populate with this text for each entry 
case_note_text = '"Investigation start date" populated for all cases from LHJs participating in CREST via the "COVID-19 Updating Investigation start date" roster.'
data4["Case.Note"] = case_note_text
data4

,wdrs_event_id,INVESTIGATION_START_DATE,INVESTIGATOR,Case.Note
0,102733833,04/27/2021,,"""Investigation start date"" populated for all c..."
1,102733802,04/27/2021,,"""Investigation start date"" populated for all c..."
2,102702423,04/27/2021,,"""Investigation start date"" populated for all c..."
3,102731921,04/27/2021,,"""Investigation start date"" populated for all c..."
4,102733631,04/27/2021,,"""Investigation start date"" populated for all c..."
...,...,...,...,...
353,102733841,04/27/2021,,"""Investigation start date"" populated for all c..."
354,102733411,04/27/2021,,"""Investigation start date"" populated for all c..."
355,102600214,04/27/2021,,"""Investigation start date"" populated for all c..."
356,102733892,04/27/2021,,"""Investigation start date"" populated for all c..."
357,102733778,04/27/2021,,"""Investigation start date"" populated for all c..."

In [52]:
# rename wdrs_event_id column to Case.CaseID
data4.rename(columns={"wdrs_event_id": "Case.CaseID"}, inplace=True)

## Export file as CSV to InvestigationStartDate folder
Run the code block for either the morning import or afternoon import.

In [53]:
# AM export to csv with file name todaysDate_AM_Covid19UpdatingInvestigationStartDate.csv
am_export_filename = (pd.Timestamp('today').strftime("%Y%m%d")) + "_AM_Covid19UpdatingInvestigationStartDate.csv"
data4.to_csv(am_export_filename, index=False)

In [31]:
# PM export to csv with file name todaysDate_PM_Covid19UpdatingInvestigationStartDate.csv
pm_export_filename = (pd.Timestamp('today').strftime("%Y%m%d")) + "_PM_Covid19UpdatingInvestigationStartDate.csv"
data4.to_csv(pm_export_filename, index=False)